<!DOCTYPE html>
<html>
	<head>
		<title>Helpdesk</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/stylesheets/style.css" rel="stylesheet" />
	</head>
	<body ng-app="helpdesk">
		<div class="container">
			<%- include nav.ejs %>
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>

		</div>


	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

<!-- Angular App -->
	<!-- Modules -->
	<script src="/javascripts/app.js"></script>

	<!-- Services -->
	<script src="/javascripts/Setup/SetupService.js"></script>
	<script src="/javascripts/Auth/AuthService.js"></script>

	<!-- Routes -->
	<script src="/javascripts/Shared/Routes.js"></script>

	<!-- Controllers -->
	<script src="/javascripts/Home/HomeController.js"></script>
	<script src="/javascripts/Setup/SetupController.js"></script>
	<script src="/javascripts/Auth/AuthController.js"></script>
	<script src="/javascripts/Nav/NavController.js"></script>

	<!-- Directives -->

<!-- Angular App -->

	</body>
</html>